body{
    background-color: rgba(143, 184, 255, 0.898);
}

h2{
    margin-top: 50px;
    text-align: center;
    color: rgb(1, 50, 64);     
    font-family: 'Georgia', serif;

}

form{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.847);
    font-family: 'Georgia', serif;
}

img {
  width: 150px;
  height: auto;
  float: left;   
  margin-top: -20px;         
  margin: 20px;            
  border-radius: 10px;     
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
}